/*--------UNIVERSAL---------*/

/*--------NAVBAR----------*/
.navbar-default {
  background-color: transparent;
  border: none;
}
/*--------CAROUSEL--------*/
#wood_background {
  background-image: url('../img/wood-2.jpg');
  background-position: center;
  height: 450px;
}

#logo {
  width: 250px;
  s
}

#seating_background {
  background-image: url('../img/restaurant-2.jpg');
  background-position: center;
  height: 450px;
}

#farm_background {
  background-image: url('../img/farm-2.jpg');
  background-position: center;
  height: 450px;
}
