/*--------UNIVERSAL---------*/

/*--------NAVBAR----------*/
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  border-color: rgba(0, 0, 0, 0.15);
  color: #d34326;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2); 
}

/*--------CAROUSEL--------*/
#wood_background {
  background-image: url('../img/wood-2.jpg');
  background-position: center;
  height: 450px;
}

#logo {
  width: 250px;
  s
}

#seating_background {
  background-image: url('../img/restaurant-2.jpg');
  background-position: center;
  height: 450px;
}

#farm_background {
  background-image: url('../img/farm-2.jpg');
  background-position: center;
  height: 450px;
}
